
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(237, 239, 240)
}
.loader {
  display: block;
  width: 100px;
  height: 100px;
  margin: 30px auto;
}